* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
}

svg {
  /* border:  1px solid red; */
}

.box {
  padding: 5px;
  margin: 5px 5px 20px 5px;
  height: 35px;
}

.space-info {
  text-align: center;
}
