* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
}

svg {
  text-align: center;
  display: inherit;
}

.box {
  padding: 5px;
  margin: 5px 5px 20px 5px;
  height: 35px;
}

.space-info {
  text-align: center;
}

.link {
  margin-top: 29px;
}
